.description-text {
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.description-text a {
  text-decoration: none;
  color: #7c4eab;
}

.description-text a:hover {
  text-decoration: underline;
  color: #7c4eab;
}

.cv-header-container {
  margin-bottom: -2.6rem;
}

.cv-header-row {
  margin: 0;
  height: 250px;
}

.cv-header-color {
  height: 50%;
  background: rebeccapurple;
  display: flex;
}

.cv-header-pic {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cv-header-pic > div {
  height: 220px;
  width: 220px;
  border-radius: 110px;
  background-color: white;
  position: absolute;
}

.cv-header-pic > a {
  width: 200px;
  position: absolute;
}

.cv-header-title > h1 {
  margin: 0;
  width: 100%;
}

.cv-header-title > h1 > a {
  color: white;
  text-decoration: none;
  align-self: flex-end;
}

.cv-header-subtitle {
  height: 50%;
  margin: 0;
}

.cv-header-subtitle > h4 {
  margin: 0;
}

.cv-header-subtitle > h4 > a {
  color: black;
  text-decoration: none;
}

.section-title {
  margin-top: 25px;
}

.section-title > hr {
  margin-bottom: 10px;
  margin-top: 0;
}

.timeline-paragraph {
  padding: 0;
}

.timeline-paragraph > p:nth-of-type(1) {
  margin-bottom: 5px;
}

.timeline-paragraph > p:nth-of-type(2) {
  margin-bottom: 5px;
  font-size: 0.7rem;
}

.left-column {
  text-align: right;
}

.right-column {
  text-align: left;
}

.show-icon-left {
  display: none !important;
}

.show-icon-right {
  display: inline !important;
}

@media screen and (max-width: 767px) {
  .cv-header-container {
    margin-bottom: 2rem;
  }

  .cv-header-color {
    height: 100%;
  }

  .cv-header-row {
    height: 300px;
    background: rebeccapurple;
  }

  .cv-header-row > div:nth-of-type(1) {
    height: 140px;
  }

  .cv-header-row > div:nth-of-type(2) {
    height: 165px;
  }

  .left-column {
    text-align: left;
  }

  .show-icon-left {
    display: inline !important;
  }

  .show-icon-right {
    display: none !important;
  }
}
